@font-face {
    font-family: 'ciutadella-font';
    src: url('./fonts/10xTTF/Ciutadella\ Rounded\ Medium.ttf');
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'ciutadella-font' !important;
}

#root {
    height: 100%;
    margin: 0;
}

hr {
    border-right-color: initial;
    border-bottom-color: initial;
    border-left-color: initial;
    border-top-color: rgb(55, 60, 62);
}